/*
THEME: Medic | Medical HTML Template
VERSION: 1.0.0
AUTHOR: Themefisher

HOMEPAGE: https://themefisher.com/products/medic-medical-template/
DEMO: https://demo.themefisher.com/themefisher/medic/
GITHUB: https://github.com/themefisher/Medic-Bootstrap-Medical-Template

WEBSITE: https://themefisher.com
TWITTER: https://twitter.com/themefisher
FACEBOOK: https://www.facebook.com/themefisher
*/

@import 'variables';
@import 'typography';
@import 'media-queries';
@import 'common';
@import 'templates/header';
@import 'templates/navigation';
@import 'templates/accordions';
@import 'templates/slider';
@import 'templates/cta';
@import 'templates/contact';
@import 'templates/welcome';
@import 'templates/two-column';
@import 'templates/services';
@import 'templates/team';
@import 'templates/testimonials';
@import 'templates/blog';
@import 'templates/sponsors';
@import 'templates/about';
@import 'templates/gallery';
@import 'templates/skills';
@import 'templates/page-title';
@import 'templates/pagination';
@import 'templates/footer';
@import 'responsive';